/* Grammatika Font */
@font-face {
  font-family: 'Grammatika';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Grammatika-Regular.woff2') format('woff2');
}

/* SpaceGrotesk Font */
@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
}
