.footer {
  padding: 104px var(--margin-inline) 75px;
  &__top {
    display: flex;
    align-items: start;
    gap: 158px;
    &-list {
      display: flex;
      flex-direction: column;
    }
    &-title {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 30px;
      line-height: 100%;
    }
    &-item {
      font-weight: 500;
      font-size: 30px;
      line-height: 80%;
      color: var(--text-muted);
      margin-bottom: 15px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 23px;
    & > img {
      border-radius: 10px;
    }
    &-name {
      font-weight: 500;
      font-size: 30px;
      line-height: 100%;
      color: var(--text-primary);
    }
  }
  &__bottom {
    margin-top: 114px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    border-top: 1px solid #2a2a2a;
    &-text {
      font-weight: 500;
      font-size: 25px;
      color: #2f2f2f;
    }
  }
}

@media (max-width: 1540px) {
  .footer {
    padding: 80px var(--margin-inline) 60px;
    &__top {
      gap: 120px;
      &-title {
        font-size: 28px;
      }
      &-item {
        font-size: 28px;
      }
    }
    &__logo {
      &-name {
        font-size: 28px;
      }
    }
    &__bottom {
      margin-top: 80px;
      &-text {
        font-size: 22px;
      }
    }
  }
}
