.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 229px var(--margin-inline) 223px;
  &__wrapper {
    background-image: url('/images/quote-gradient.png');
    background-size: cover;
  }
  &__title {
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.04em;
    text-align: center;
    line-height: 100%;
    max-width: 80%;
  }
  &__button {
    font-weight: 700;
    font-size: 25px;
    padding: 23px 34px;
  }
}

@media (max-width: 1540px) {
  .quote {
    gap: 30px;
    padding: 170px var(--margin-inline) 170px;
    &__title {
      font-size: 50px;
    }
    &__button {
      font-size: 22px;
      padding: 17px 22px;
    }
  }
}
